@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
a.nav-link {
    font-weight: 400 !important;
    color: black !important;
    font-family: "poppins" !important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #717fe0  !important;
    font-weight: 700 !important;
}
a.nav-link:hover {
    font-weight: 400 !important;
    color: #717fe0 !important;
    font-family: "poppins" !important;
}
.badge {
    display: inline-block;
    padding: 3px 5px !important;
    font-size: 14px  !important;
    font-weight: 700;
    color: #717fe0  !important; 
    border-radius: 50% !important;
    background: #dad9d9  !important;
    margin: 5px !important;
}
.fs-6.loginn {
    font-weight: 500 !important;
    font-family: 'Poppins' !important;
    font-size: 16px !important;
}